{% extends "base.html.twig" %}

{% block title %} Home {% endblock %}

{% block body %}
    <main>
        <section>
            <article>

                <h2>ola ola</h2>

            </article>
        </section>
    </main>
{% endblock %}